<div class="page-header">
  <h1>Workout Tracker</h1>
</div>

<div class="container">
  <form>
    <div class="form-group row">
      <input type="hidden" class="form-control" id="id">
    </div>
    <div class="form-group row">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="name">
    </div>
    <div class="form-group row">
      <label for="reps">Repititions</label>
      <input type="text" class="form-control" id="reps" placeholder="Number of times the exercise was performed">
    </div>
    <div class="form-group row">
      <label for="weight">Weight</label>
      <input type="text" class="form-control" id="weight" placeholder="Weight used">
    </div>
    <div class="form-group row">
      <label for="date">Date</label>
      <input type="text" class="form-control" id="date" placeholder="Date performed">
    </div>
    <div class="form-group row">
      <label for="lbs">lbs or kg</label>
      <select class="form-control" id="lbs">
        <option value="1">1 - lbs</option>
        <option value="0">0 - kg</option>
      </select>
    </div>
    <button type="Add" class="btn btn-primary" id="add">Add Exercise</button>
  </form>
</div>
<br /> 
<br />
<div class="container">
  <table class="table-bordered" id="workouts">
    <tr>
      <th>Name</th>
      <th>Repititions</th>
      <th>Weight</th>
      <th>Date</th>
      <th>Units (lbs=1 kg=0)</th>
    </tr>
  </table>
</div>
